@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'reset';
@import 'grid';
@import 'utilities';
@import "helpers";
@import "components";

body {
  font-family: $font;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 2px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Links

a {
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $black;
  }
}
