// Requerido para Bootstrap
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Opcionales para Bootstrap
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/grid";

// Estilos del proyecto
@import "variables";
@import "fonts";

body {
  font-family: $archivo;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 2px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Links

a {
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $black;
  }
}
